footer{
    border: 1px solid rgb(33, 37, 41);
    background-color: rgb(33, 37, 41);
    color: white;
    padding: 0.8em;
    text-align: center;
    margin-top: auto;
    
}
a{
    color: white;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
